body{
	text-align:center;
}

p {
	width: 300px;
}

h1{
	font-size: 24px;
	font-family: sans-serif;
}

img {
	display: block;
	margin:0 auto;
	width: 400px;
}

figcaption {
	font-size: 16px;
	display: block;
	font-weight: bold;
	color:red;
	margin-top:2px;
	margin-bottom: 15px;
}